<div *ngIf="(questions$ | async).length > 0; else noQuestions">
  <div *ngIf="questions$ | async as questions">

    <button mat-raised-button color="primary" aria-label="Zadaj pytanie" [routerLink]="['/', 'questions', 'create']">Zadaj
      nowe pytanie
    </button>

    <h3>Twoje pytania:</h3>

    <mat-card *ngFor="let question of questions" class="m-3">
      <mat-card-subtitle>Pytanie z {{ question.createdDate | date:'medium' }}</mat-card-subtitle>
      <mat-card-content>{{ question.content }}</mat-card-content>

      <mat-card *ngIf="question.answer === null">
        Na razie nie dodano odpowiedzi na to pytanie.
      </mat-card>
      <mat-card-actions *ngIf="question.answer !== null">
        <button mat-raised-button color="primary" aria-label="Odpowiedz" [routerLink]="['/', 'questions', question.id, 'show-answer']">
          Zobacz odpowiedź
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #noQuestions>
  <span>Nie zadałeś jeszcze żadnego pytania.</span>
  <br><br>
  <span>Zadaj pytanie aby odpowiedzi na najbardziej nurtujące cie pytania!</span>
  <br><br>
  <button mat-raised-button color="primary" aria-label="Zadaj pytanie" [routerLink]="['/', 'questions', 'create']">Zadaj
    pytanie
  </button>

</ng-template>
