<div *ngIf="(questions$ | async).length > 0; else noQuestions">
  <div *ngIf="questions$ | async as questions">

    <div class="d-flex align-items-center justify-content-between mb-2">
      <h3 class="mb-0">Twoje pytania</h3>

      <button mat-raised-button color="accent" class="m-2" aria-label="Zadaj pytanie"
              [routerLink]="['/', 'questions', 'create']">
              Zadaj nowe pytanie!
      </button>
    </div>

    <div *ngFor="let question of questions" class="mb-3">
      <mat-card>
        <mat-card-content>

          <div class="speech-bubble custom-background-bg">
            <p><strong>Pytanie z {{ question.createdDate | date:'medium' }}</strong></p>
            <p>{{ question.content }}</p>
          </div>

          <div *ngIf="question.answer === null">
            <div class="speech-bubble-answer custom-background-bg">
              <div class="ticontainer">
                <div class="tiblock">
                  <div class="tidot custom-color"></div>
                  <div class="tidot custom-color"></div>
                  <div class="tidot custom-color"></div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="question.answer !== null">
            <div class="speech-bubble-answer custom-background-bg">
              {{ question.answer.content | truncate:16:true }}
              <button mat-icon-button aria-label="Odpowiedz"
                      [routerLink]="['/', 'questions', question.id, 'show-answer']">
                <mat-icon>read_more</mat-icon>
              </button>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #noQuestions>
  <div class="mb-5">
    <mat-icon class="no-question--icon" color="accent">contact_support</mat-icon>
  </div>

  <mat-card class="m-3">
    <mat-card-content>
      <p>Nie zadałeś jeszcze żadnego pytania.</p>

      <p>Zadaj pytanie aby odpowiedzi na najbardziej nurtujące cie pytania!</p>
    </mat-card-content>
  </mat-card>

  <button mat-raised-button color="primary" aria-label="Zadaj pytanie" [routerLink]="['/', 'questions', 'create']">
    Zadaj pytanie!
  </button>

</ng-template>
