<div *ngIf="(questions$ | async).length > 0; else noQuestions">
  <div *ngIf="questions$ | async as questions">

    <h3>Twoje pytania:</h3>

    <div *ngFor="let question of questions" class="m-5">
      <mat-card class="m-3">
        <mat-card-subtitle>Pytanie z {{ question.createdDate | date:'medium' }}</mat-card-subtitle>
        <mat-card-content>{{ question.content }}</mat-card-content>
      </mat-card>

      <div *ngIf="question.answer === null">
        <span class="mr-2">Na razie nie dodano odpowiedzi na to pytanie. Pracujemy nad tym</span>
        <div class="ticontainer">
          <div class="tiblock">
            <div class="tidot"></div>
            <div class="tidot"></div>
            <div class="tidot"></div>
          </div>
        </div>
      </div>

      <div *ngIf="question.answer !== null">
        <button mat-raised-button color="primary" aria-label="Odpowiedz" [routerLink]="['/', 'questions', question.id, 'show-answer']">
          Zobacz odpowiedź
        </button>
      </div>
    </div>

    <button mat-raised-button color="primary" aria-label="Zadaj pytanie" [routerLink]="['/', 'questions', 'create']">
      Zadaj nowe pytanie!
    </button>
  </div>
</div>

<ng-template #noQuestions>
  <span>Nie zadałeś jeszcze żadnego pytania.</span>
  <br><br>
  <span>Zadaj pytanie aby odpowiedzi na najbardziej nurtujące cie pytania!</span>
  <br><br>
  <button mat-raised-button color="primary" aria-label="Zadaj pytanie" [routerLink]="['/', 'questions', 'create']">Zadaj
    pytanie
  </button>
</ng-template>
