<mat-toolbar color="primary">

  <button mat-button [routerLink]="['/']">
    <img src="assets/logo-white.svg" class="app-toolbar__logo" alt="">Efairy
  </button>

  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>

    <button *ngIf="(userRoles$ | async).includes(userRoles.ADMIN)" mat-button aria-label="Moderator" [routerLink]="['/', 'admin']" [routerLinkActive]="['is-active']">
      <mat-icon>build</mat-icon><span>Admin</span>
    </button>
    <button *ngIf="(userRoles$ | async).includes(userRoles.MODERATOR)" mat-button aria-label="Moderator" [routerLink]="['/', 'moderator']" [routerLinkActive]="['is-active']">
      <mat-icon>pending_actions</mat-icon><span>Moderator</span>
    </button>
    <button *ngIf="!(userRoles$ | async).includes(userRoles.MODERATOR) && !(userRoles$ | async).includes(userRoles.ADMIN)" mat-button aria-label="Zadaj pytanie" [routerLink]="['/', 'questions']" [routerLinkActive]="['is-active']">
      <mat-icon>question_answer</mat-icon><span>Pytania</span>
    </button>
    <button *ngIf="!(userRoles$ | async).includes(userRoles.MODERATOR) && !(userRoles$ | async).includes(userRoles.ADMIN)" mat-button aria-label="Horoscopes" [routerLink]="['/', 'horoscope']" [routerLinkActive]="['is-active']">
      <mat-icon>history_edu</mat-icon><span>Horoskopy</span>
    </button>
    <button mat-button aria-label="Change theme" (click)="onChangeTheme()">
      <mat-icon>{{ (isDarkMode$ | async) === true ? 'brightness_5' : 'brightness_2' }}</mat-icon>
    </button>
    <button *ngIf="(isAuthenticated$ | async) === true ? 'logout' : 'login' as text" mat-button aria-label="Login/Logout" (click)="onLoginLogout()">
      <mat-icon>{{ text }}</mat-icon><span>{{ text === 'login' ? 'Zaloguj się' : 'Wyloguj się' }}</span>
    </button>

  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm aria-label="Toggle app menu">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">

  <button *ngIf="(userRoles$ | async).includes(userRoles.ADMIN)" mat-menu-item aria-label="Moderator" [routerLink]="['/', 'admin']" [routerLinkActive]="['is-active']">
    <mat-icon>build</mat-icon><span>Admin</span>
  </button>
  <button *ngIf="(userRoles$ | async).includes(userRoles.MODERATOR) && !(userRoles$ | async).includes(userRoles.ADMIN)" mat-menu-item aria-label="Moderator" [routerLink]="['/', 'moderator']" [routerLinkActive]="['is-active']">
    <mat-icon>pending_actions</mat-icon><span>Moderator</span>
  </button>
  <button *ngIf="!(userRoles$ | async).includes(userRoles.MODERATOR) && !(userRoles$ | async).includes(userRoles.ADMIN)" mat-menu-item aria-label="Zadaj pytanie" [routerLink]="['/', 'questions']" [routerLinkActive]="['is-active']">
    <mat-icon>question_answer</mat-icon><span>Pytania</span>
  </button>
  <button *ngIf="!(userRoles$ | async).includes(userRoles.MODERATOR) && !(userRoles$ | async).includes(userRoles.ADMIN)" mat-menu-item aria-label="Horoscopes" [routerLink]="['/', 'horoscope']" [routerLinkActive]="['is-active']">
    <mat-icon>history_edu</mat-icon>
    <span>Horoskopy</span>
  </button>
  <button mat-menu-item aria-label="Change theme" (click)="onChangeTheme()">
    <mat-icon>{{ (isDarkMode$ | async) === true ? 'brightness_5' : 'brightness_2' }}</mat-icon>
    <span>Zmień kolorystykę</span>
  </button>
  <button mat-menu-item *ngIf="(isAuthenticated$ | async) === true ? 'logout' : 'login' as text" aria-label="Login/Logout" (click)="onLoginLogout()">
    <mat-icon>{{ text }}</mat-icon>
    <span>{{ text === 'login' ? 'Zaloguj się' : 'Wyloguj się' }}</span>
  </button>
</mat-menu>
