.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.is-active {
  color: #6610f2;
}

.app-toolbar__logo {
  width: 28px;
  height: 28px;
}

.app-toolbar__lottie {
  display: inline-block;
  margin-top: -7px;
}
