<div *ngIf="!(userRoles$ | async).includes(userRoles.MODERATOR) && !(userRoles$ | async).includes(userRoles.ADMIN)">
  <div class="rotating-blob-container">
    <ng-lottie [options]="options"></ng-lottie>
  </div>
  <h1>Witaj w Efairy!</h1>

  <p>Tutaj możesz sprawdzić horoscope na dziś oraz zadać pytanie wróżce!</p>

  <button class="mr-3" mat-raised-button color="accent" [routerLink]="['/', 'horoscope', 'daily']">Sprawdź swój
    horoskop!
  </button>

  <button mat-raised-button color="primary" aria-label="Zadaj pytanie" [routerLink]="['/', 'questions', 'create']">Zadaj
    pytanie wróżce!
  </button>
</div>

<div *ngIf="(userRoles$ | async).includes(userRoles.MODERATOR)"><br><br>
  <button mat-raised-button color="primary" aria-label="Opowiedz na pytania"
          [routerLink]="['/', 'moderator', 'questions-list']">Opowiedz na pytania
  </button>
</div>

<div *ngIf="(userRoles$ | async).includes(userRoles.ADMIN)">
  <br><br>
  <button mat-raised-button color="primary" aria-label="Dodaj horoskopy z pliku csv">Dodaj horoskopy z pliku csv
  </button>
</div>



