<div *ngIf="(horoscope$ | async) === null; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>

  <h3>Wybierz swój znak zodiaku:</h3>

  <form [formGroup]="zodiacSignForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Znak zodiaku</mat-label>
      <mat-select formControlName="zodiacSign">
        <mat-option *ngFor="let zodiacSigns of zodiacSignsSorted" [value]="zodiacSigns">
          {{ zodiacSigns.name | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!zodiacSignForm.valid">Pokaż horoscope!</button>

  </form>
</ng-template>

<ng-template #elseBlock>
  <mat-card *ngIf="horoscope$ | async as horoscope" class="my-3 mx-5">
    <mat-card-title>{{ horoscope.zodiacSign | titlecase }} <span class="fw-normal">- horoskop na {{ horoscope.date | date }} </span></mat-card-title>
    <mat-card-content>{{ horoscope.content }}</mat-card-content>
  </mat-card>
  <br>
  <button mat-raised-button class="mr-3" color="accent" (click)="onTryAgain()">Sprawdź ponownie!</button>

  <button mat-raised-button color="primary" aria-label="Zadaj pytanie" [routerLink]="['/', 'questions', 'create']">Zadaj
    pytanie wróżce!
  </button>
</ng-template>
