<button mat-raised-button aria-label="Zadaj pytanie" color="accent" [routerLink]="['/', 'moderator', 'questions-list']"
        [routerLinkActive]="['is-active']">
  <mat-icon>question_answer</mat-icon>
  <span>Przejdź do listy pytań</span>
</button>

<br><br>
<p>
  Odpowiedz na pytanie:
</p>

<mat-card *ngIf="moderatorQuestion$ | async as moderatorQuestion" class="m-3">
  <mat-card-subtitle>Pytanie z {{ moderatorQuestion.createdDate | date:'medium' }}, id: {{ moderatorQuestion.id }}, userId: {{ moderatorQuestion.userId }}</mat-card-subtitle>
  <mat-card-content>
    <p>
      {{ moderatorQuestion.content }}
    </p>
    <form [formGroup]="answerForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Odpowiedz</mat-label>
        <textarea matInput #contentLocal formControlName="content" placeholder="Tutaj wpisz odpowiedz..."></textarea>

        <span *ngIf="content.invalid && (content.dirty || content.touched)">
          <mat-error *ngIf="content.errors.minlength">
            Odpowiedź jest za krótka! Min 56 znaków.
          </mat-error>
        </span>

        <mat-hint align="start"><strong>Postaraj się odpowiedzieć jak najkonkretniej!</strong></mat-hint>
        <mat-hint align="end">{{contentLocal.value.length}} / minimum 56</mat-hint>
      </mat-form-field>

      <button mat-raised-button color="primary" class="mt-2" type="submit" [disabled]="!answerForm.valid">Odpowiedz!</button>
    </form>
  </mat-card-content>
</mat-card>
